.serviceBox {
  background: #232325;
  border-radius: 20px;
  padding: 24px;
  flex: 1;
}
.headerSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.seeAll {
  color: #4793f8;
  text-decoration: underline;
  cursor: pointer;
  font-size: 1em;
}
.services {
  margin-top: 20px;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 14px;
  font-size: 1.2rem;
  color: #999;
}
.services li {
  display: flex;
  align-items: center;
  gap: 15px;
}
.icon {
  font-size: 1.5rem;
}
