/* Reset and base styles */
html, body {
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: #eee;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #4793f8;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
